.button-to-save {
    background-color: rgb(59, 82, 110);
    opacity: 0.6;
}
.button-to-save:hover {
    opacity: 1;
}

.button-to-modify {
    background-color: #ffb366;
    opacity: 0.6;
}
.button-to-modify:hover {
    opacity: 1;
}

.button-to-delete {
    background-color: #C40C0C;
    opacity: 0.6;
}
.button-to-delete:hover {
    opacity: 1;
}

.button-to-decline {
    background-color: #ffb366;
    opacity: 0.6;
}
.button-to-decline:hover {
    opacity: 1;
}