h2, h4 {
    margin: 0;
}

.order-item {
    width: 600px;
    height: fit-content;
    box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.3);

    border-radius: 0.8rem;
    padding: 0.4rem;
    margin: 1rem;
}

.general-div-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-info-user-date-status {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.div-info-order-user-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0.4rem;
}

.progress-div {
    display: flex;
    flex-direction: column;
}

.modifyOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*SEZIONE CSS PER ARTICOLI PRESENTI NELL'ORDINE*/

.div-items-ordered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
}

.div-item-ordered-info {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div-general-info {
    display: flex;
    flex-direction: row;
}

.div-item-info {
    width: 50px;
    margin: auto 2rem;
}