.title {
    color: rgb(59, 82, 110);
}

.divItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 50px ;
    justify-content: center;
}

@media only screen and (max-width: 425px) {
    .divItems {
        margin: 0;
    }
}